body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', sans-serif;
    font-size: 5rem;
    font-weight: lighter;
    line-height: 2;
    margin-top: 0px;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', serif;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', serif;
}

img {
    vertical-align: middle;
}

.webDev {
    font-style: italic;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-container {
    background-color: #EAF6F6;
    padding-top: 100px;
    position: relative;
}

.profile {
    width: 30%;
    margin: 100px auto 100px;
}
.skills,
.contact-me {
    margin: 0 auto 6em;
    padding: 6em 0 0;
    width: 50%;
}

.profile>img {
    border-radius: 100%;
    width: 35%;
}

.middle-container {
    color: #3a677a
}

.middle-container>p {
    margin: 50px auto 50px;
}

hr {
    color: #EAF6F6;
    border-style: dotted none none;
    border-width: 8px;
    height: 0px;
    width: 5%;
}

.skill-row {
    line-height: 2;
    margin: 100px auto 100px;
    text-align: left;
}

.skill-one {
    border-radius: 100%;
    float: left;
    margin-right: 30px;
    width: 20%;
}

.skill-two {
    border-radius: 100%;
    float: right;
    margin-left: 30px;
    width: 20%;
}

.bottom-container {
    background-color: #66BFBF;
    margin: 0;
    padding: 3em 0 2em;
}

.bottom-container>p {
    margin-top: 30px;
}

input {
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    border-radius: 28px;
    border-color: #ccc;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    height: 3rem;
    padding: 0.5rem;
    width: 10rem;
}

input:hover {
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
}

a {
    color: #11999E;
}
.footer-link {
    margin: 0 20px 40px;
}

.copyright-note {
    color: #EAF6F6;
}